[Unit]
Description=Dataplicity Daemon
After=network.target
After=local-fs-pre.target

[Service]
Type=simple
WorkingDirectory=/
ExecStart=/usr/bin/python /usr/bin/supervisord -c /etc/supervisor/supervisord.conf
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=volumio
User=volumio
Group=volumio

[Install]
WantedBy=multi-user.target